<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="navbar">
      <div>
        <img src="assets/icon/menu.png" height="44"/>
      </div>
      <div>
        <img src="assets/img/nike_logoGreen.png" width="50" height="44"/>
      </div>
      <div>
        <img src="assets/img/profile.png" witdh="40" height="44"/>
      </div>
    </div>
    <div class="botoes">
      <ion-button class="seletor1"><img src="assets/img/tenisVerde.png" /></ion-button>
      <ion-button class="seletor"><img src="assets/img/tenisAzul.png" /></ion-button>
      <ion-button class="seletor"><img src="assets/img/tenisRosa.png" /></ion-button>
    </div>
    <img src="assets/img/tenisMain.png"/>
    <p class="titulo">KYRIE INFINITY</p>
    <p class="titulo2">Calçados para Basquete</p>
    <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae quam et eros tempus
      scelerisque. Sed mi est, vulputate sit amet nisi sed, fermentum dignissim tellus.</p>
    <div class="preco">
      <div class="texto">
        <p class="titulo2">Preço</p>
        <p class="titulo">$799</p>
      </div>
      <div class="botoesBaixo">
        <ion-button class="b1" shape="round" size="medium"><ion-icon slot="icon-only" name="share-outline"></ion-icon></ion-button>
        <ion-button class="b2" shape="round" size="medium"><ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon></ion-button>
      </div>
    </div>
  </div>
</ion-content>
