<ion-content [fullscreen]="true">
  <img class="ion-padding" src="assets/img/nike_logo.png" width="100" height="100" />
  <div class="ion-padding">  
    <img src="assets/img/tenisVerdeFull.png"/>
    <div>
      <p class="titulo">SUMMER COLLECTIONS</p>
      <p class="tituloBranco">2022</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae quam et eros tempus
    scelerisque. Sed mi est, vulputate sit amet nisi sed, fermentum dignissim tellus.</p>
    <div class="ion-text-center">
      <ion-button shape="round" size="large" href="/tabs/tab2">
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        Get Started
      </ion-button>
    </div>
  </div>
</ion-content>